
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    /* padding: 0 80px; */
    font-family: 'league spartan', sans-serif;
    color: #7b400c;
    line-height: 1.5;
}

header{
    display: flex;
    padding: 24px 80px;
    background-color: #bc6c25;
    color: #faedcd;
}
.logo{
       font-family: 'Fraunces', serif;
font-style: italic; 
font-weight: bold;
}

section, footer{
        padding: 24px 80px;

}
h3,h4, .quote{
    font-family: 'Fraunces', serif;
    color: #7b400c;
}
.logo{
    margin-right: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #faedcd;
}

main{
    display: flex;
    flex-direction: column;
}

.hero, section{
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
border-bottom: 0.5px solid #dd8b43;
background-color: #faedcd;
}

.hero{
flex-wrap: wrap;
    row-gap: 24px;
}
.hero-right{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    flex: 1 50%;
}

button{
    flex-grow: 0;
width: inherit;
max-width: fit-content;
padding: 16px;
background-color: #bc6c25;
color: #faedcd;
border: none;
border-radius: 4px;
font-weight: 600;
}

.hero-left img {
border-radius: 8px;

/* border: 1px solid; */
}
.cards{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.card, .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta{
    height: 200px;
}

footer{
    background-color: #bc6c25;
    color: #faedcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

quote {
    width: 60%;
font-size: 24px;
font-style: italic;
text-align: center;
}

.cta-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 60%;
}
